body {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
}
header {
    background-color: #000000;
    width: 100%;
}
.under-header {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.li-navbar {
    width: 58px;
    height: 11px;
    opacity: 0.69;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-right: 47px;
}

.img-navbar {
    width: 79px;
    height: 27px;
    margin-top: 23px;
    margin-bottom: 23px;
}
.header {
    background-color: #9a9a9a;
    width: 100%;
    
}
.under-main {
    margin: auto;
    max-width: 960px;
}
.text {
    width: 460px;
    height: 34px;
    opacity: 0.22;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 33px;
    font-weight: 400;
    margin: auto;
    padding-top: 60px;
}
.header-left {
    display: inline-block;
}
.image-header {
    margin-bottom: 33px;
}
.text-left {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 36px;
}
.lorem-header {
    margin-top: 36px;
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}
.button-header {
    background-color: #9a9a9a;
    border: 2px solid white;
    color: white;
    padding: 15PX 32px;
    margin-top: 44px;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    width: auto;
    margin-bottom: 140px;
}

.form {
    width:360px;
    display: inline-block;
    margin-left: 80px;
}
form {
    background: #fff; 
    border-radius: 5px;
    }
.title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 700;
    justify-content: center;
    background-color: #f5f5f5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.free {
    color: #ff8b38;
}
.info {
    display: flex;
    flex-direction: column;
    width: 285px;
    margin-left: 35px;
}
input {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    
}
input::placeholder {
    color: #dbdbdb;
}
.get-started {
    padding: 21px 5px;
    margin-top: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    background: #ff9b51; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    
}
.brand-bar {
    background-color: #fff;
}
.under-brand {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.sotial-link {
    margin-right: 20px;
}
.sotial-link:hover {
    background-color: red ;
    
}
.sotial-link-7:hover {
    background-color: red ;
}
.social-media {
    margin-bottom: 22px;
}
.social-text {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}
.social-small {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 22px;
}
.feature-1 {
    width: 100%;
    background-color:#f5f5f5;
    
}
.feature-1-under {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
}
.tabs {
    display: inline-block;
    margin-top: 150px;
    margin-bottom: 150px;    
}
.tab-1 {
    border: 1px solid #ff8b38;
    padding: 35px;
    background-color: #ff8b38;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.tab-2, .tab-3 {
    margin-top: 1px;
    border: 1px solid #333333;
    padding: 35px;
    background-color: #333333;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.lorem-feature {
    display: inline-block;
    
    
}
.feature-title {
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}
.feature-small {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.lorem-image {
    display: inline-block;
    max-width: 240px;
}
.button-feature {
    background-color: #ff8b38;
    border: 2px solid white;
    color: white;
    padding: 15PX 32px;
    margin-top: 44px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
}
.feature-2 {
    display: flex;
    max-width: 960px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.feature-2-under {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 960px;
}

.text-on-image-1 {
    background: url(/img/image_left_sub_list_u260_copy.png) no-repeat #9a9a9a;
    font-family: "Open Sans";
    font-size: 33px;
    font-weight: 400;
    box-shadow: 5px 7px 20px rgba(0,0,0,0.5);
    position: relative;
    width: 453px;
    
    text-align: center;
    color: #b0b0b0;
    padding-top: 25%;
    padding-bottom: 22%;
}
.right-part-feature {
    margin-top: 107px;
    margin-bottom: 133px;
    
    
}
.title-feature-2 {
    color: #212121;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 24px;
}
.feature-small-2 {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 30px;
    display: inline-block;
}
.small-feature-2 {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.lorem-feature-2 {
    display: flex;
}
.double-image {
    border: 2px solid #ff9142;
    border-radius:50%;
    padding: 13px;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-right: 19px;
}
.h4-2 {
    margin-top:18px;
    margin-bottom: 10px;   
}
.feature-3 {
    background-color: #f5f5f5;
    
}
.feature-3-upper {
    display: flex;
    max-width: 960px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-direction: row-reverse;
}
.feature-3-under {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: auto;
    max-width: 960px;
}
.img-feature-3 {
    box-shadow: 5px 7px 20px  rgba(0,0,0,0.5); /* Параметры тени */
    position: relative;
}
.right-part-feature-3 {
    margin-top: 107px;
    margin-bottom: 133px;
    margin-right: 32px;
}
.text-on-image-2 {
    position: absolute;
    opacity: 0.22;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 33px;
    font-weight: 400;
    top: 2300px;
    right: 430px;
}
.awesome {
    background-color: #fff;
}
.under-awesome {
    max-width: 960px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right-part-awesome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-awesome {
    margin-top: 108px;
    margin-bottom: 30px;
    color: #212121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-transform: uppercase;
}
.awaesome-small {
    margin-top: 30px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.awesome-center {
    display: flex;
    align-items:center;
    text-align: center;
}
.awesome-image {
    border: 2px solid #ff9142;
    border-radius:50%;
    padding: 13px;
}
.awesome-image-1 {
    display: inline-block;
    border: 2px solid #ff9142;
    border-radius:50%;
    padding:  21px 26px 21px 25px;
    margin-bottom: 29px;
}
.awesome-image-2 {
    display: inline-block;
    border: 2px solid #ff9142;
    border-radius:50%;
    padding:  24px 18px 21px 17px;
    margin-bottom: 29px;
}
.awesome-image-3 {
    display: inline-block;
    border: 2px solid #ff9142;
    border-radius:50%;
    padding:19px 26px 20px  27px;
    margin-bottom: 29px;
}
.awesome-strong {
    margin-bottom: 25px;
}
.awesome-text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
}
.awesome-tab-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.awesome-tab-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 65px;
}
.awesome-tab-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price {
    background-color:#f5f5f5;
}
.right-part-price {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-center {
    display: flex; 
}
.price-tab-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-tab-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -45px 25px;
}
.price-tab-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basic {
    display: inline-block;
    margin-top: 150px;
    margin-bottom: 150px;  
    text-align: center;  
}
.card {
    border: 1px solid #333333;
    background-color: #333333;
    padding: 35px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    width: 230px;
    height: 45px;
}
.card-2 {
    margin-top: 1px;
    border: 1px solid #333333;
    padding: 35px;
    background-color: #333333;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    
}
.cash {
    font-size: 35px;
    margin-top: 20px;
}
.card-3 {
    color: #818181;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #333333;
    background-color: #333333;
    display:flex;
    justify-content:center;
    align-items:center;

    height: 35px;
}
.card-4 {
    border: 1px solid #ff8b38;
    background-color: #ff8b38;
    height: 5px;
}
.card-5 {
    border: 1px solid #f5f5f5;
    background-color: #fff;
    height: 35px;
    color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
display:flex;
justify-content:center;
align-items:center;

}
.card-6 {
    border: 1px solid #f5f5f5;
    background-color: #fff;
    height: 35px;
    color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
display:flex;
justify-content:center;
align-items:center;
}
.card-7 {
    border: 1px solid #f5f5f5;
    background-color: #fff;
    height: 35px;
    color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
display:flex;
justify-content:center;
align-items:center;
}
.card-8 {
    border: 1px solid #f5f5f5;
    background-color: #fff;
    height: 35px;
    color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
display:flex;
justify-content:center;
align-items:center;
}
.card-9 {
    border: 1px solid #f5f5f5;
    background-color: #fff;
    height: 35px;
    color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
display:flex;
justify-content:center;
align-items:center;
}
.card-10 {
    border: 1px solid #f5f5f5;
    background-color: #fff;
    height: 35px;
    color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
display:flex;
justify-content:center;
align-items:center;
}
.card-11 {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid #ff8b38;
    background-color: #ff8b38;
    padding-top: 14px;
    padding-bottom: 14px;   
}
.right-part-customer {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customer-tab-1 {
    display: flex;
    flex-direction: column;
}
.customer-elements {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.customer-text {
    position: relative;
    
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    padding: 24px 13px 41px 12px;
    margin-bottom: 25px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    width: 273px;
    text-align: start;
}
.customer-text:after, p:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
    
.customer-text:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #f5f5f5;
    border-width: 18px;
    left: 10%;
    
}
.customer-text:before {
    border-color: rgba(125, 145, 133, 0);
    border-top-color: #7d9185;
    border-width: 19px;
    left: 50%;
    margin-left: -19px;
}
.circle {
    border: 1px solid #9a9a9a;
    background-color: #9a9a9a;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}
.customer-strong {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}
.customer-small {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.customer-tab-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 30px;
}
.design {
    background-color: #9a9a9a;
    
    
}
.under-desine {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desine-title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 26px;
    margin-top: 74px;
}
.design-small {
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
}
.button-design {
    background-color: #9a9a9a;
    border: 2px solid white;
    color: white;
    padding: 15PX 32px;
    margin-top: 44px;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    width: auto;
    
}
.incern-design {
    opacity: 0.22;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 22px;
}
.contact-under {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title {
    color: #212121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-transform: uppercase;
    margin-top: 108px;
    margin-bottom: 30px;
}
.contact-form {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 80px;
    
}
.form-1 {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.form-2 {
    display: flex;
    
}
.message-input {
    padding-bottom: 97px;
    width: 350px;
}
.button-contact {
    background-color: #ff8b38;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 15PX 32px;
    margin-top: 44px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 80px;
}
footer {
    background-color: #000000;
}
.under-footer {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-footer {
    margin-top: 38px;
    margin-bottom: 14px;
}
.footer-text {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
 }
.footer-link {
    margin-right: 20px;
}
.footer-link:hover {
    background-color: red ;
    
}
.footer-link-7:hover {
    background-color: red ;
}
.img-footer {
    width: 23px;
}


























 @media (max-width:720px) { 
    
    .container {
        width:100%;
}
    .under-header {
        max-width:318px ;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .ul-navbar {
        display: flex;
        margin-right:10%;
    }
    .li-navbar {
        margin: 0;
    }
    .under-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     .button-header {
        margin-bottom: 80px;
     }
    .text {
        font-size: 14px;
        text-align: center;
        max-width: 280px;
    }
    .image-header {
        width: 100px;
    }
    .text-left {
        font-size: 18px;
    }
    .lorem-header{
        font-size: 10px;
    }
    .form {
        width: 250px;
        margin-bottom: 25px;
        margin-right: auto;
        justify-content: center;
    margin: 0;
    margin-bottom: 25px;
    }
    .h2 {
        font-size: 15px;
    }
    .right-part-feature {
        margin-top: 107px;
        margin-bottom: 133px;margin-bottom: 28px;
        text-align: center;
    }
    .lorem-feature-2 {
        flex-direction: column;
    }
    .right-part-feature-3 {
        margin-left: 25px;
    }
    .info {
        width: auto;
        margin: auto;
        
    }
    .button-feature {
        
        margin-bottom: 44px;
    }
    .under-brand {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .social-small{
        font-size: 12px;
    }
    .sotial-img {
        width: 25px;
    }
    .double-image {
        border: 2px solid #ff9142;
    border-radius: 50%;
    padding: 13px;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-right: 19px;
    margin: auto;
    }
    
    .feature-1-under{
        flex-wrap: wrap;
    }
    .tabs {
        width: 50%;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
        margin: auto;
        margin-top: 25px;
    }
    .lorem-feature {
        margin: auto;
        max-width:270px;
    }
    .lorem-image {
        margin: auto;
        margin-bottom: 25px;
    }
    .feature-2 {
        display: inline-block;
        margin-left: 5%;
    }
    .feature-2-upper {
        display: flex;
        align-items: center;
        margin-top: 25px;
    }
    
    .text-on-image-1 {
        max-width: 270px;
    }
    .feature-3-upper {
        display: inline-block;
        margin-top: 25px;
        margin-left:5%;
    }
    .awesome-center {
        display: flex;
        margin-bottom: 25px;
        margin-top: 15px;
        max-width: 320px;
        flex-direction: column;
    }
    .feature-small-2 {
        margin-bottom: 10px;
    }
    .right-part-awesome {
        text-align: center;
    }
    .price-center {
        display: inline-block;
    }
    .basic-2 {
        margin: auto;
    }
    .customer-center {
        display: flex;
        flex-direction: column;
    }
    .customer-tab-2 {
        margin: 50px 30px;
    }
    .contact-form {
        flex-wrap: wrap;
    }
    .social-links {
        display: flex;
    }
    .under-main {
        max-width: 318px;
    }
    .under-brand {
        max-width: 318px;
    }
    .feature-1-under {
        max-width: 318px;
    }
    .feature-2 {
        max-width: 318px;
    }
    .feature-2-under {
        max-width: 318px;
    }
    .feature-3-upper {
        max-width: 318px;
    }
    .feature-3-under {
max-width: 318px;
    }
    .under-awesome { max-width: 318px;
    }
    .right-part-price {
        max-width: 318px;
    }
    .right-part-customer {
        max-width: 318px;
    }
    .under-desine {
        max-width: 318px;
    }
    .contact-under {
        max-width: 318px;
        text-align: center;
    }
    .under-footer {max-width: 318px;}
    .form-1 {
        width: auto;
    }
    .message-input{
        width: auto;
    }
/* } */

